/**
 * @file base.less
 */
/**
 * Grid & Layout
 */
/**
 * Fonts
 */
/**
 * Font size helper
 */
/**
 * Basic font family wrapper
 */
/**
 * Font face declarations
 */
/**
 * BOX MODEL
 *
 * We support IE8+ only, so we could use the border-box model
 * see http://paulirish.com/2012/box-sizing-border-box-ftw/
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/**
 * RESPONSIVE
 */
img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
video {
  max-width: 100%;
}
img {
  height: auto;
  vertical-align: middle;
}
#map_canvas img,
.gmnoprint img {
  max-width: none;
}
.lt-ie9 img {
  width: auto;
  /*BUG IE8*/
}
/*
 * Inner padding and border oddities in FF3/4
 * From reset.less by Twitter Bootstrap
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
/**
 * GLOBAL STYLES
 */
html {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
}
body {
  font-size: 15px;
  font-size: 1rem;
  line-height: 1.375;
  background-color: #fff;
  color: #444;
}
a {
  text-decoration: underline;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}
a {
  color: orange;
}
a:hover,
a:focus {
  text-decoration: none;
}
button,
input[type=button],
input[type=reset],
input[type=submit],
a.button {
  display: inline-block;
  vertical-align: baseline;
  padding: 16px;
  background-color: orange;
  border: 2px solid orange;
  color: #fff;
  font-size: 16px;
  font-size: 1.06666667rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
}
button:hover,
input[type=button]:hover,
input[type=reset]:hover,
input[type=submit]:hover,
a.button:hover,
button:focus,
input[type=button]:focus,
input[type=reset]:focus,
input[type=submit]:focus,
a.button:focus {
  color: orange;
  background-color: #fff;
  border-color: orange;
  text-decoration: none;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
p + p {
  margin-top: 15px;
}
.field--type-text-long ul,
.field--type-text-long ol {
  margin: 15px 0;
  padding: 0;
  list-style-position: inside;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #111;
  line-height: 1.15;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #111;
  text-decoration: none;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h1 a:focus,
h2 a:focus,
h3 a:focus,
h4 a:focus,
h5 a:focus,
h6 a:focus {
  text-decoration: underline;
}
h1,
h2 {
  margin: 15px auto;
}
h1 {
  font-size: 28px;
  font-size: 1.86666667rem;
}
h2 {
  font-size: 24px;
  font-size: 1.6rem;
}
h3,
h4,
h5,
h6 {
  margin: 15px auto;
}
h3 {
  font-size: 20px;
  font-size: 1.33333333rem;
}
h4 {
  font-size: 18px;
  font-size: 1.2rem;
}
h5 {
  font-size: 15px;
  font-size: 1rem;
}
h6 {
  font-size: 13px;
  font-size: 0.86666667rem;
}
b,
strong {
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
}
table {
  margin: 15px 0;
  border: 1px solid #444;
}
table td,
table th {
  border: 1px solid #444;
  padding: 15px;
}
blockquote {
  margin: 15px 0;
  padding: 30px;
  border-left: 5px solid orange;
}
/**
 * @file forms.less
 * Forms.
 */
input {
  line-height: 1.375;
  min-height: 1.375;
}
/**
 * @file pages.less
 * Generic layout and style.
 */
/**
 * @file blocks.less
 * Custom Blocks.
 */
/**
 * @file front.less
 * Front page.
 */
/**
 * @file custom.less
 * Custom & specific pages.
 */
/**
 * @file user.less
 * User stuff style.
 */
