/**
 * Fonts
 */

@browserDefaultFontSize: 15;
@baseFontSize: 15;
@baseLineHeight: 1.375;
@headingLineHeight: 1.15;

@h1fontSize: 28;
@h2fontSize: 24;
@h3fontSize: 20;
@h4fontSize: 18;
@h5fontSize: 15;
@h6fontSize: 13;


/**
 * Font size helper
 */

// http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
.fontSize(@sizeValue, @base: @browserDefaultFontSize) {
  @remValue: (@sizeValue / @base);
  @pxValue: @sizeValue;
  font-size: unit(@pxValue, px);
  font-size: unit(@remValue, rem);

  // @pxLineValue: (@font-size * 10 * 1.5);
  // line-height: @font-size * 1.5 * 1px;
  // line-height: unit(@pxLineValue, rem);
}

/**
 * Basic font family wrapper
 */

.fontRegular() {
  font-family: sans-serif;
  font-weight: normal;
  font-style: normal;
}
.fontRegularBold() {
  font-family: sans-serif;
  font-weight: bold;
  font-style: normal;
}

/**
 * Font face declarations
 */
