/**
 * Grid & Layout
 */

// Based on lib/grid-flexbox.css
// @width-sm: 34em; // 540px @ 16px font size.
// @width-md: 48em; // 768px @ 16px font size.
// @width-lg: 60em; // 960px @ 16px font size.
// @width-xl: 75em; // 1200px @ 16px font size.

@width-xs: 320px;
@width-sm: 36em; // 540px @ 15px font size.
@width-md: 50em; // 750px @ 15px font size.
@width-lg: 64em; // 960px @ 15px font size.
@width-xl: 80em; // 1200px @ 15px font size.
@width-xxl: 92em; // 1380px @ 15px font size.
@width-xxxl: 105em; // 1680px @ 15px font size.

// @spacing: ~"2*@{baseFontSize}px";
@spacing: unit(2 * @baseFontSize, px);
