/**
 * @file base.less
 */

// SIZES & GRID
@import "includes/sizes.less";
// @import "includes/grid.less";

// VARIABLES
@import "includes/colors.less";
@import "includes/fonts.less";

// MIXINS
@import "lib/mixins.less";


/**
 * BOX MODEL
 *
 * We support IE8+ only, so we could use the border-box model
 * see http://paulirish.com/2012/box-sizing-border-box-ftw/
 */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  // box-sizing: inherit; // bug in chrome ?
  box-sizing: border-box;
}


/**
 * RESPONSIVE
 */
img, table, td, blockquote, code, pre, textarea, input, video {
  max-width: 100%;
}
img {
  height: auto;
  vertical-align: middle;
}
// Gmap3 max-width bug fix on images 
#map_canvas img,
.gmnoprint img {max-width: none;}

.lt-ie9 img { width:auto; /*BUG IE8*/ }


/*
 * Inner padding and border oddities in FF3/4
 * From reset.less by Twitter Bootstrap
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}


/**
 * GLOBAL STYLES
 */
html {
  .fontRegular();
  font-size: unit(@browserDefaultFontSize, px);
  -webkit-font-smoothing: antialiased;
}

body {
  .fontSize(@baseFontSize);
  line-height: @baseLineHeight;

  background-color: @colorBackground;
  color: @colorText;
}

// LINKS & BUTTONS
a {
  text-decoration: underline;
  transition: all 0.1s ease-out;
}
a/*,
a:link,
a:visited*/ {
  color: @colorActive;
}
a:hover,
a:focus {
  text-decoration: none;
}

button,
input[type=button],
input[type=reset],
input[type=submit],
a.button {
  .button();
}

// CONTENT TAGS
p {
    margin-top: 0;
    margin-bottom: 0;
    & + p {margin-top: @spacing / 2;}
}

.field--type-text-long {
  ul,
  ol {
    margin: @spacing / 2 0;
    padding: 0;
    list-style-position: inside;
  }
}

// HEADINGS
h1, h2, h3, h4, h5, h6 {
  .fontRegularBold();
  // &.visually-hidden {margin: 0;}
  color: @colorTextDark;
  line-height: @headingLineHeight;

  a {
    // color: inherit;
    color: @colorTextDark;
    text-decoration: none;
    &:hover,
    &:focus {text-decoration: underline;}
  }
}
h1, h2 {
  margin: (@spacing / 2) auto;
}
h1 {
  .fontSize(@h1fontSize);
}
h2 {
  .fontSize(@h2fontSize);
}

h3, h4, h5, h6 {
  margin: (@spacing / 2) auto;
}
h3 {
  .fontSize(@h3fontSize);
}
h4 {
  .fontSize(@h4fontSize);
}
h5 {
  .fontSize(@h5fontSize);
}
h6 {
  .fontSize(@h6fontSize);
}

b,
strong {
  .fontRegularBold();
}

table {
  margin: @spacing / 2 0;
  border: 1px solid @colorText;
  thead {}
  tbody {}

  td,
  th {
    border: 1px solid @colorText;
    padding: @spacing / 2;
  }
}

blockquote {
  margin: @spacing / 2 0;
  padding: @spacing;
  border-left: 5px solid @colorActive;

}


// FORMS
@import "forms.less";

// PAGES & GLOBAL PARAGRAPHS
@import "pages.less";

// GENERIC BLOCKS
@import "blocks.less";

// FRONT
@import "front.less";

// SECTIONS
// @import "section.less";

// CUSTOM & SPECIFIC PAGES
@import "custom.less";

// USER & ADMIN
@import "user.less";
