@buttonHeight: 48; // 50px - 2px border
@buttonFontSize: 16;
@buttonPadding: (@buttonHeight - @buttonFontSize) / 2; // 12

// Button helper
.button(@color: @colorActive, @text: @colorBackground) {
  // display: block;
  // @media (min-width: @width-lg) {
  //   display: inline-block;
  // }
  display: inline-block;
  vertical-align: baseline;
  padding: ~"@{buttonPadding}px";
  // margin: @spacing / 4;

  background-color: @color;
  border: 2px solid @color;
  color: @text;
  .fontSize(@buttonFontSize);
  // letter-spacing: -0.05em;
  line-height: 1;
  // .fontBold;
  text-align: center;
  text-decoration: none;
  .fontRegularBold();

  &:hover,
  &:focus {
    color: @color;
    background-color: @text;
    border-color: @color;
    // opacity: 0.7;
    text-decoration: none;
  }

  // &::before {
  //   content: "\0203A";
  //   display: inline-block;
  //   vertical-align: middle;
  //   .fontRegularBold();
  //   .fontSize(2 * @buttonFontSize);
  //   line-height: ~"@{buttonFontSize}px";
  //   height: ~"@{buttonFontSize}px";
  //   // @marginTopOffset : -(@buttonFontSize/2);
  //   // margin-top: ~"@{marginTopOffset}px";
  //   margin-top: ~"-@{buttonFontSize}px";
  //   // margin-left: -1em;
  //   margin-right: 0.5em;
  // }
}
.button--full-width() {
  display: block;
  padding-left: 0;
  padding-right: 0;
}
.button--light-background(@color: @colorActive) {
  background-color: @colorBackground;
  color: @color;
  &:hover,
  &:focus {
    color: @colorBackground;
    background-color: @color;
  }
}
.button--no-arrow() {
  // background-image: none;
  // padding-left: ~"@{buttonPadding}px";
  &::before {content: "";display: none;}
}
.button--rounder() {
  border-radius: unit(@buttonHeight, px);
}

.button--color(@color: @colorText, @text: @colorBackground) {
  background-color: @color;
  color: @text;
  border-color: @color;
  &:hover,
  &:focus {
    color: @color;
    background-color: @text;
    border-color: @color;
  }
}


